$def with(result)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>LIST</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h1 class="display-4">LIST</h1>
                    <hr class="bg-info">
                </div>
            </div>
        </div>
        <a class="navbar-brand" href="/">ACTION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/delete">BORRAR</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/insert">INSERTAR</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/update">ACTUALIZAR</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/view">VER</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/">INDEX</a>
                
              </div>
              <li class="nav-item">
                <a class="nav-link" href="/">Regresar</a>
            </li>
        </div>
      </nav>
      <div class="dropdown-divider"></div>
        <body>
            
        <div class="container">
            <div class="table-responsive">
                <table class="table  table table-dark table-bordered table-hover table-condensed">
                    $for row in result:
                    <tr>
                      <td><a href="/view/$row['id_usuario']">$row['id_usuario']</a></td>
                        <th>$row['nombre']</th>
                        <th>$row['primer_apellido']</th>
                        <th>$row['segundo_apellido']</th>
                        <th>$row['edad']</th>
                        <th>$row['fecha_nac']</th>
                        <th>$row['genero']</th>
                        <th>$row['estado']</th>
                        <td>
                          <a href="/update/$row['matricula']"><button type="button" class="btn" style="background:#be69f0">Update</button></a>
                        </td>
                        <td>
                          <a href="/delete/$row['matricula']">
                          <button type="button" class="btn" style="background:#f15948">Delete</button></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
